/****************Tags*********************/
body
{
    background-color: beige;
    
}
h2
{
    font-family:Roboto,sans serif;
}


/***************Classes******************/
.parent
{
    display: flex;
    height: 500px;
    align-items: center;
    text-align: center;
    width: 20%;
   
}
.topContainer
{
    border-radius: 5%;
    background-color: white;
    padding: 10px;
    margin:0 auto;
}



/******************IDS*********************/


#qr
{
    border-radius: 5%;
     
}
#mainText
{
    margin:0 auto;
}